<section class="handpicked-section">
	<div class="contain">
		<div class="row jcc aic">
			<div class="section-title">
				<h2><span>{{ section.settings.section-title }}</span></h2>
			</div>
		</div>
		<div class="row fww jcsb">
			{% for block in section.blocks %}
				{%- assign featured = block.settings.hand-picked %}
				<div class="cart-box">
					<div class="border">
						{% capture collection_title %}{{ collections[featured].title | escape }}{% endcapture %}
						<h3 class="title-collection-cart">{{ collection_title }}</h3>
						<div class="owerlay-box"></div>
						<img src="{{ collections[featured].image | img_url: 'large' }}" alt="">
						<a href="{{ collections[featured].url }}">View collection</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": {
		"en": "Hand Picked"
	},
	"class": "handpicked-section",
	"max_blocks": 6,
	"presets": [
		{
			"name": {
				"en": "Hand Picked"
			},
			"category": {
				"en": "Sections"
			},
			"blocks": [
				{
					"type": "collection"
				}
			]
		}
	],
	"settings": [
		{
			"type": "text",
			"id": "section-title",
			"label": {
				"en": "Section title"
			}
		}
	],
	"blocks": [
		{
			"type": "collection",
			"name": {
				"en": "Hand Picked"
			},
			"settings": [
				{
					"id": "hand-picked",
					"type": "collection",
					"label": {
						"en": "Hand Picked Collection Top"
					}
				}
			]
		}
	]
}
{% endschema %}
