<section class="handpicked-section">
	<div class="contain">
		<div class="row jcc aic">
			<div class="section-title">
				<h2><span>{{ section.settings.section-title }}</span></h2>
			</div>
		</div>
		<div class="row jcsb">
			
			{% for block in section.blocks %}
	        	{%- assign featured = block.settings.hand-picked %}
	        	{%- assign position = block.settings.position %}

	        	{% if position == "left-top" or position == "left-bottom" %}
	        		<div class="cart-col left">
						{% if position == "left-top" %}
							<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>	
						{% endif %}
	        			{% if position == "left-bottom" %}
		        			<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>
	        			{% endif %}
	        		</div>
	        	{% endif %}


	        	{% if position == "center" %}
	        		<div class="cart-col center">
						<div class="cart-box cart-box-center">
							<div class="border">
								<div class="owerlay-box"></div>
								<img src="{{ 'girl.png' | asset_url }}" alt="">
								<a href="#">Shop now</a>
							</div>
						</div>
					</div>
	        	{% endif %}


	        	{% if position == "right-top" or position == "right-bottom" %}
	        		<div class="cart-col right">
						{% if position == "right-top" %}
							<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>	
						{% endif %}
	        			{% if position == "right-bottom" %}
		        			<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>
	        			{% endif %}
	        		</div>
	        	{% endif %}



	        	


	        	{% comment %}{% case position %}
	        		{% when "left-top" %}
						<div class="cart-col left">
							<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>
						</div>
					{% when "left-bottom" %}
						<div class="cart-col left">
							<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>
						</div>
					{% when "center" %}
						<div class="cart-col center">
							<div class="cart-box cart-box-center">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'girl.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>
						</div>
					{% when "right-top" %}
						<div class="cart-col right">
							<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>
						</div>
					{% when "right-bottom" %}
						<div class="cart-col right">
							<div class="cart-box">
								<div class="border">
									<div class="owerlay-box"></div>
									<img src="{{ 'img-shop.png' | asset_url }}" alt="">
									<a href="#">Shop now</a>
								</div>
							</div>
						</div>
					{% endcase %}{% endcomment %}

			  <!-- <li>
			  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
			  <a class="shop-now" href="{{ product.url }}">{{ product.title | escape  }}</a>                              
			  </li> -->  
			{% endfor %}
			
			{% comment %}<div class="cart-col left">
				<div class="cart-box">
					<div class="border">
						<div class="owerlay-box"></div>
						<img src="{{ 'img-shop.png' | asset_url }}" alt="">
						<a href="#">Shop now</a>
					</div>
				</div>
				<div class="cart-box">
					<div class="border">
						<div class="owerlay-box"></div>
						<img src="{{ 'img-shop.png' | asset_url }}" alt="">
						<a href="#">Shop now</a>
					</div>
				</div>
			</div>
			<div class="cart-col center">
				<div class="cart-box cart-box-center">
					<div class="border">
						<div class="owerlay-box"></div>
						<img src="{{ 'girl.png' | asset_url }}" alt="">
						<a href="#">Shop now</a>
					</div>
				</div>
			</div>
			<div class="cart-col right">
				<div class="cart-box">
					<div class="border">
						<div class="owerlay-box"></div>
						<img src="{{ 'img-shop.png' | asset_url }}" alt="">
						<a href="#">Shop now</a>
					</div>
				</div>
				<div class="cart-box">
					<div class="border">
						<div class="owerlay-box"></div>
						<img src="{{ 'img-shop.png' | asset_url }}" alt="">
						<a href="#">Shop now</a>
					</div>
				</div>
			</div>{% endcomment %}




		</div>
	</div>
</section>

{% schema %}
{
	"name": {
		"en": "Hand Picked"
	},
	"class": "handpicked-section",
	"max_blocks": 5,
	"presets": [
		{
			"name": {
				"en": "Hand Picked"
			},
			"category": {
				"en": "Sections"
			},
			"blocks": [
				{
					"type": "collection"
				},
				{
					"type": "collection"
				},
				{
					"type": "collection"
				}
			]
		}
	],
	"settings": [
		{
			"type": "text",
			"id": "section-title",
			"label": {
				"en": "Section title"
			}
		}
	],
	"blocks": [
		{
			"type": "collection",
			"name": {
				"en": "Hand Picked"
			},
			"settings": [
				{
					"type": "select",
					"id": "position",
					"label": {
						"en": "Select position"
					},
					"options": [
						{
							"value": "left-top",
							"label": {
								"en": "Left top"
							}
						},
						{
							"value": "left-bottom",
							"label": {
								"en": "Left bottom"
							}
						},
						{
							"value": "center",
							"label": {
								"en": "Center"
							}
						},
						{
							"value": "right-top",
							"label": {
								"en": "Right top"
							}
						},
						{
							"value": "right-bottom",
							"label": {
								"en": "Right bottom"
							}
						}
					]
				},
				{
					"id": "hand-picked",
					"type": "collection",
					"label": {
						"en": "Hand Picked Collection"
					}
				}
			]
		},
	]
}
{% endschema %}
