<div class="top-bar">
  <div class="contain">
    <div class="row jcsb aic">
      <div class="phone">
        <span><i class="fa fa-phone" aria-hidden="true"></i><a href="#">Call +001 555 801</a></span>
      </div>
      <div class="top-nav">
        <ul>
          {% for link in linklists.topline-menu.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
         {% comment %} <li><a href="#">My account</a></li>
          <li><a href="#">My whistlist</a></li>
          <li><a href="#">Login</a></li>{% endcomment %}
          <li><a href="#" class="add-all">Add all products to cart</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="header" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="contain">
    <div class="row jcsb aic">
      <nav class="header-navbar">
        <ul>
          {% for link in linklists.main-menu.links %}
          <li><a href= "{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <div class="logo-block">
        {% if template.name == 'index' %}
        <h1 class="h-logo" itemscope itemtype="http://schema.org/Organization">
          {% else %}
          <div class="h1 h-logo" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
            {% if section.settings.logo %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
            <a class="logo" href="/" itemprop="url">
              <div class="lazyload__image-wrapper no-js header-logo__image" style="max-width:{{ section.settings.logo_max_width }}px;">
                <div style="padding-top:{{ 1 | divided_by: section.settings.logo.aspect_ratio | times: 100}}%;">
                  <img class="lazyload js"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ logo_alt | escape }}"
                  style="width:{{ section.settings.logo_max_width }}px;">
                </div>
              </div>
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ logo_alt | escape }}"
                itemprop="logo"
                style="max-width:{{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
            {% else %}
            <a class="logo" href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
            {% if template.name == 'index' %}
          </h1>
          {% else %}
        </div>
        {% endif %}
      </div>
      <div class="header-social df fdr aic">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        <div class="cart-header">
          <a class="cart-toggle mobileNavBar-link" href="#open-cart" rel="modal:open">
            <span class="name-btn">Cart</span><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}"> {{ cart.item_count }}</span>
          </a>
        </div>
        <div class="burger" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mmenu" id="mmenu">
  <ul>
    {% for link in linklists.main-menu.links %}
      <li><a href= "{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</div>

