<section class="our-brand-section">
	<div class="contain">
		<div class="row">
			<div class="section-title">
				<h2><span>Our Brand</span></h2>
			</div>
		</div>
		<div class="row jcsb aic brands-block">
			<div class="brand-box">
				<a href="#">
					<img src="{{ 'brand.png' | asset_url }}" alt="">
				</a>
			</div>
			<div class="brand-box">
				<a href="#">
					<img src="{{ 'brand.png' | asset_url }}" alt="">
				</a>
			</div>
			<div class="brand-box">
				<a href="#">
					<img src="{{ 'brand.png' | asset_url }}" alt="">
				</a>
			</div>
			<div class="brand-box">
				<a href="#">
					<img src="{{ 'brand.png' | asset_url }}" alt="">
				</a>
			</div>
			<div class="brand-box">
				<a href="#">
					<img src="{{ 'brand.png' | asset_url }}" alt="">
				</a>
			</div>
			<div class="brand-box">
				<a href="#">
					<img src="{{ 'brand.png' | asset_url }}" alt="">
				</a>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": {
		"en": "Our Brand"
	},
	"class": "our-brand",
	"presets": [
		{
			"name": {
				"en": "Our Brand"
			},
			"category": {
				"en": "Sections"
			}
		}
	]
}
{% endschema %}