<section class="summer-collection-section">
	<div class="contain">
		<div class="row">
			<div class="section-title">
				<h2><span>Summer Collection</span></h2>
			</div>
		</div>
		<div class="row fww jcsb ">
			<div class="collection-cart">
				<div class="owerlay"></div>
				<span class="discount">10<span class="percent">%</span></span>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>
			<div class="collection-cart">
				<div class="owerlay"></div>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>
			<div class="collection-cart">
				<div class="owerlay"></div>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>
			<div class="collection-cart">
				<div class="owerlay"></div>
				<span class="discount">15<span class="percent">%</span></span>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>

			<div class="collection-cart">
				<div class="owerlay"></div>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>
			<div class="collection-cart">
				<div class="owerlay"></div>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>
			<div class="collection-cart">
				<div class="owerlay"></div>
				<span class="discount">25<span class="percent">%</span></span>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>
			<div class="collection-cart">
				<div class="owerlay"></div>
				<img src="{{ 'man.jpg' | asset_url }}" alt="">
				<div class="add-button">
					<a href="#"><span>+ Add to cart</span></a>
				</div>
			</div>

		</div>
	</div>
</section>

{% schema %}
{
	"name": {
		"en": "Summer Collection"
	},
	"class": "summer-collection-section",
	"max_blocks": 3,
	"presets": [
	{
		"name": {
		"en": "Summer Collection"
	},
	"category": {
	"en": "Sections"
	},
	"blocks": [
	{
		"type": "image"
	}
	]
	}
],
"blocks": [
{
	"type": "image",
	"name": {
	"en": "Summer Collection"
},
"settings": [
{
	"type": "text",
	"id": "title",
	"label": {
	"en": "Title summer collection"
}
},
{
	"type": "text",
	"id": "content",
	"label": {
	"en": "Text summer collection"
}
},
{
	"type": "image_picker",
	"id": "slide",
	"label": {
	"en": "Image"
},
"info": {
"en": "1000 x 500px recommended"
}
},
{
	"type": "color",
	"id": "background",
	"label": {
	"en": "Background"
},
"default": "#d9bf8f"
}
]
}
]
}


{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}