<section class="summer-collection-section">
	<div class="contain">
		<div class="row">
			<div class="section-title">
				<h2><span>{{ section.settings.section-title }}</span></h2>
			</div>
		</div>
		<div class="row fww jcsb">
			{% for block in section.blocks %}
				{%- assign featured = block.settings.summer-collection -%}
				{% for product in collections[featured].products %}
				<div class="collection-cart">
					<div class="owerlay"></div>
					<h3 class="title-collection"><a href="{{ product.url }}">{{ product.title | escape  }}</a></h3>
					<img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="">
					<div class="add-button">
						<a href="{{ product.url }}"><span>+ Add to cart</span></a>
					</div>
				</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</section>


{% schema %}
{
	"name": {
		"en": "Summer Collection"
	},
	"class": "summer-collection-section",
	"max_blocks": 1,
	"presets": [
		{
			"name": {
				"en": "Summer Collection"
			},
			"category": {
				"en": "Sections"
			},
			"blocks": [
				{
					"type": "collection"
				}
			]
		}
	],
	"settings": [
		{
			"type": "text",
			"id": "section-title",
			"label": {
				"en": "Section title"
			}
		},
		{
			"type": "number",
			"id": "percent-sale",
			"label": {
				"en": "Sale percent"
			}
		}
	],
	"blocks": [
		{
			"type": "collection",
			"name": {
				"en": "Summer Collection"
			},
			"settings": [
				{
					"type": "text",
					"id": "test-text",
					"label": {
						"en": "Test Text"
					}
				},
				{
					"id": "summer-collection",
					"type": "collection",
					"label": {
						"en": "Summer Collection"
					}
				}
			]
		}
	]
}
{% endschema %}