<section class="summer-collection-section">
	<div class="contain">
		<div class="row">
			<div class="section-title">
				<h2><span>{{ section.settings.section-title }}</span></h2>
			</div>
		</div>
		<div class="row fww jcsb">
			{% if collections.summer-collection.products.size > 0 %}
			{% for product in collections.summer-collection.products %}
				<div class="collection-cart">
				  <div class="owerlay"></div>
				  {% if section.settings.percent-sale != "" %}
				  	<span class="discount">{{ section.settings.percent-sale }}<span class="percent">%</span></span>
				  {% endif %}
				  <h3 class="title-collection"><a href="{{ product.url }}">{{ product.title | escape  }}</a></h3>
				  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="">
				  <div class="add-button">
				    <a href="{{ product.url }}"><span>+ Add to cart</span></a>
				  </div>
				</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</section>


{% schema %}
{
	"name": {
		"en": "Summer Collection"
	},
	"class": "summer-collection-section",
	"max_blocks": 1,
	"presets": [
		{
			"name": {
				"en": "Summer Collection"
			},
			"category": {
				"en": "Sections"
			},
			"blocks": [
				{
					"type": "collection"
				}
			]
		}
	],
	"settings": [
		{
			"type": "text",
			"id": "section-title",
			"label": {
				"en": "Section title"
			}
		},
		{
			"type": "number",
			"id": "percent-sale",
			"label": {
				"en": "Sale percent"
			}
		}
	],
	"blocks": [
		{
			"type": "collection",
			"name": {
				"en": "Summer Collection"
			},
			"settings": [
				{
					"type": "text",
					"id": "percent",
					"label": {
						"en": "Sale percent collection"
					}
				},
				{
					"id": "summer-collection",
					"type": "collection",
					"label": {
						"en": "Summer Collection"
					}
				}
			]
		}
	]
}
{% endschema %}